.header{
  position: sticky;
  top: 0;
  background: #fff;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 0.0625rem solid #cfcdcd;
  padding: 1rem 2rem 1rem 1rem;
  margin-left: 16.75rem;
}

.header > span{
  font-size: 1.5rem;
  font-weight: 600;
}

.icons{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons > img{
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

mat-icon{
  display: none;
}

.search{
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.input{
  display: flex;
  align-items: center;
  flex: 0.6;
  border: 0.0625rem solid #d0cfcf;
  border-radius: 2rem;
  padding: 0 0.7rem;
}

.input > input{
  width: 100%;
  font-size: 1.2rem;
  border: none;
  outline: none;
  padding: 0.7rem 0.5rem;
}

.input > input::placeholder{
  color: var(--text);
  font-size: 1.2rem;
  opacity: 0.5;
}

@media (max-width: 768px){
  .header{
    margin-left: 0;
  }
  .icons{
    display: none;
  }
  mat-icon{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
  .showSidebar{
    display: block;
  }
  .hideSidebar{
    display: none;
  }
}