.navigate{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.navigate > button{
  background: #e0dddd;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

.navigate > button:disabled{
  cursor: auto;
}